@page
@using BattleShipBrain
@model WebApplication1.Pages.Game.GameDetails

@{
    ViewData["Title"] = "Game Details";
}

<div class="d-flex justify-content-center">
    <div class="text-center">
        <h2 class="display-10">All information about the Game!</h2>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-row bd-highlight">
        <div class="p-3 bd-highlight row-cols-lg-auto">
            <div class="text-center">
                <h5 class="display-10">Information about loaded Configuration!</h5>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForConfigId" name="textForConfigId" placeholder="Id" value="@Model.Game![0].GameConfigSavedId" disabled readonly/>
                <label for="textForConfigId">Id</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForConfigName" name="textForConfigName" placeholder="Name" value="@Model.Game[0].ConfigName" disabled readonly/>
                <label for="textForConfigName">Name</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForConfigBoardX" name="textForConfigBoardX" placeholder="Board Size X" value="@(Model.Brain!.GetGameConfig()!.BoardSizeX)" disabled readonly/>
                <label for="textForConfigBoardX">Board Size X</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForConfigBoardY" name="textForConfigBoardY" placeholder="Board Size Y" value="@(Model.Brain!.GetGameConfig()!.BoardSizeY)" disabled readonly/>
                <label for="textForConfigBoardY">Board Size Y</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForConfigShipTouchRule" name="textForConfigShipTouchRule" placeholder="Ship Touch Rule" value="@(Model.Brain!.GetGameConfig()!.EShipTouchRule)" disabled readonly/>
                <label for="textForConfigShipTouchRule">Ship Touch Rule</label>
            </div>
            @foreach (ShipConfig shipConfig in Model.Brain!.GetGameConfig()!.ShipConfigs)
            {
                <div class="form-floating">
                    <input class="form-control" id="textForConfigShipConfig" name="textForConfigShipConfig" placeholder="@shipConfig.Name" value="Quantity: @shipConfig.Quantity, Ship Width: @shipConfig.ShipSizeX, Ship Height: @shipConfig.ShipSizeY" disabled readonly/>
                    <label for="textForConfigShipConfig">@shipConfig.Name</label>
                </div>
            }
        </div>
        <div class="p-3 bd-highlight row-cols-lg-auto">
            <div class="text-center">
                <h5 class="display-10">Information about loaded Save!</h5>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForSaveId" name="textForSaveId" placeholder="Id" value="@Model.Game[0].GameStateSavedId" disabled readonly/>
                <label for="textForSaveId">Id</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForSaveName" name="textForSaveName" placeholder="Name" value="@Model.Game[0].SaveName" disabled readonly/>
                <label for="textForSaveName">Name</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForPlayerSide" name="textForPlayerSide" placeholder="You are a" value="@Model.PlayerSideToOutput" disabled readonly/>
                <label for="textForPlayerSide">You are a</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForLastPlayer" name="textForLastPlayer" placeholder="Current player" value="@Model.currentPlayer" disabled readonly/>
                <label for="textForLastPlayer">Current player</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="textForGameWinner" name="textForGameWinner" placeholder="Winner" value="@Model.Brain!.GetWinner()" disabled readonly/>
                <label for="textForGameWinner">Winner</label>
            </div>
        </div>
    </div>
</div>